.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 120px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust position of tooltip */
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext.visible {
  visibility: visible;
  opacity: 1;
}

.App {
  margin-top: 100px;
  width: 300px;
  margin-left: 30px;
}

.tooltip-divider {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
.tooltip {
    position: relative;
    display: block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip-divider {
   
    width: 200px; 
    margin-left: 0; 
    margin-bottom: 30px;
  }

  .App{
    margin-top: 100px;
    width: 300px;
    margin-left: 30px;
  }*/